<div>
<h1>Welcome!</h1>
<h4>First of all, thank you for visiting this website. You might have a couple of questions in mind right now, which I will try to answer below.</h4>
<h3>Where am I?</h3>
<h4>A fair question, dear visitor. You are now browsing a web application created with Angular 7, which serves as my portfolio. Instead of some kind of static document, I thought this would be a nicer way to showcase some of the work I have been doing on different Enterprise web applications. Feel free to browse the various sections using the left-hand menu. If it is not displayed currently, you can bring it up with the menu button in the top left corner.</h4>
<h3>Why does this kind of look like a page in SharePoint 2016?</h3>
<h4>The real-world applications that inspired the ones that you can access on this page, were hosted on a SharePoint 2016 instance and used that as a back-end. By having here a page design inspired by SharePoint, you can experience these web applications in an environment similar to where their "real" counterparts function.</h4>
<h3>So, you basically uploaded here some of the web applications you created earlier?</h3>
<h4>Not quite. The interactive "applications" which you find on this site are heavily inspired by the Enterprise work I have been doing over the past years, but it does not re-use any existing code. All code on this page was created specifically for the purposes of this portfolio website.</h4>
<h3>Cool, I can see that I can add new items and comments in some of your applications here. Are you saving any of my data?</h3>
<h4>No, any data that you enter on this page only exists in your browser, and will disappear if you reload the page or close it.</h4>
<h3>Can I contact you if I have any questions?</h3>
<h4>Yes, you can write me an e-mail by clicking <a href="mailto:m_koro@outlook.com">here</a>.</h4>
</div>