<div>
  <h1>Welcome!</h1>
  <h3>Where am I?</h3>
  <h4>
    <p>
      You are now browsing a web application created with Angular, which is a part of
      <a href="https://koroknay.tech">my portfolio</a>. It showcases some of the work I did on
      different Enterprise web applications. Feel free to browse the various sections using the
      left-hand menu. If it is not displayed currently, you can bring it up with the menu button in
      the top left corner.
    </p>
    <p>
      As you navigate, I recommend clicking on the <span class="icon">?</span> buttons to learn more
      about the context of what you are seeing.
    </p>
    <p>
      You can edit the source code of this application in real-time on
      <a href="https://stackblitz.com/edit/ng-g-portfolio">⚡️ StackBlitz</a>
    </p>
  </h4>
  <h3>Why does this kind of look like a page in SharePoint 2016?</h3>
  <h4>
    The real-world applications that inspired the ones that you can access on this page, were hosted
    on a SharePoint 2016 instance and used that as a back-end. By having here a page design inspired
    by SharePoint, you can experience these web applications in an environment similar to where
    their "real" counterparts function.
  </h4>
  <h3>
    So, you basically uploaded here some of the web applications you created earlier?
  </h3>
  <h4>
    Not quite. The interactive "applications" which you find on this site are heavily inspired by
    the Enterprise work I did in the past, but it does not re-use any existing code. All code on
    this page was created specifically for the purposes of this portfolio website.
  </h4>
  <h3>
    Cool, I can see that I can add new items and comments in some of your applications here. Are you
    saving any of my data?
  </h3>
  <h4>
    No, any data that you enter on this page only exists in your browser, and will disappear if you
    reload the page or close it.
  </h4>
  <h3>Can I contact you if I have any questions?</h3>
  <h4>
    Yes, you can write me an e-mail by clicking
    <a href="mailto:m_koro@outlook.com">here</a>.
  </h4>
</div>
