<h2>Order Details</h2>
<div class="order-detail-container">
  <table mat-table [dataSource]="dataSource" class="order-table">
    <ng-container matColumnDef="keys">
      <th mat-header-cell *matHeaderCellDef> Keys </th>
      <td mat-cell *matCellDef="let element"> <b>{{element.key}}</b> </td>
    </ng-container>
    <ng-container matColumnDef="values">
      <th mat-header-cell *matHeaderCellDef> Values </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <h3 *ngIf="order.attachments.length">Attachments:</h3>
  <table mat-table [dataSource]="attDataSource" class="attachment-table">
    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef> Filename </th>
      <td mat-cell *matCellDef="let element" class="file-cell"> {{element.filename}} </td>
    </ng-container>
    <ng-container matColumnDef="delBut">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="delete-cell">
          <button type="button" mat-icon-button (click)="deleteFileEntry(element.filename)">
            <i class="material-icons" style="margin-bottom: 3px;color: rgba(0,0,0,.54)">delete</i>
          </button>
      </td>
    </ng-container>
    <tr
    mat-row
    *matRowDef="let row; columns: attDisplayedColumns;"
    ></tr>
  </table>
  <h3>Comments:</h3>
  <div *ngFor="let comment of order.comments" class="comment-container">
    <div class="comment">
      <p *ngFor="let line of comment.content.split('\n')">
        {{line}}
      </p>
    </div>
    <div class="comment-detail-container">
      <div> {{comment.author}} </div>
      <div style="margin-left: 30px"> {{dateHelper(comment.dateString)}} </div>
    </div>
  </div>
  <div class="comment-box-container">
    <mat-form-field class="comment-box">
      <textarea matInput placeholder="Leave a comment" [(ngModel)]="newComment"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="submitButton()" class="submit-button">
      SUBMIT COMMENT
    </button>
  </div>
  <button mat-raised-button color="primary" type="button" (click)="backButton()" class="back-button">
    BACK TO ALL ORDERS
  </button>
</div>