<div class="sp-top-bar">
  <div class="app-menu" (click)="toggleSideNav()">
    <i class="material-icons y-centered">apps</i>
  </div>
  <div class="site-title">
    <div class="y-centered">Portfolio</div>
  </div>
  <div class="app-title">
    <div class="y-centered">{{determineCurrentApp()}}</div>
  </div>
  <!--div class="help-btn" (click)="showAppInfo()">
    <i class="material-icons y-centered">help</i>
  </div>
  <!-- div class="user-details">
    <div class="y-centered">user-details</div>
  </div -->
</div>